<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="My Sample Suite" parallel="tests">

<test name="Login Test">
    <classes>
        <class name="testcases.LoginTest" ></class>  
    </classes>
</test>

<test name="Create Portfolio Test">
    <classes>
        <class name="testcases.CreatePortfolioTest" ></class>  
    </classes>
</test>

<test name="Add Stock Test">
    <classes>
        <class name="testcases.AddStockTest" ></class>  
    </classes>
</test>


</suite>
